### Install Required Packages

In [1]:
# !pip install langchain_openai -q
# !pip install langchain_community -q
# !pip install langchain -q

### Create SQLite Database and Tables

In [29]:
import sqlite3

In [30]:
connection = sqlite3.connect("school.db")

In [31]:
cursor = connection.cursor()

In [32]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS teachers (
    teacher_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS subjects (
    subject_id INTEGER PRIMARY KEY AUTOINCREMENT,
    subject_name TEXT NOT NULL
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS teaches (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    teacher_id INTEGER,
    subject_id INTEGER,
    FOREIGN KEY (teacher_id) REFERENCES teachers(teacher_id),
    FOREIGN KEY (subject_id) REFERENCES subjects(subject_id)
)
""")

connection.commit()

### Insert Sample Data into Tables

In [33]:
teachers = [
    ("Kamal", 42),
    ("Saman", 29),
    ("Pawan", 34)
]
cursor.executemany("INSERT INTO teachers (name, age) VALUES (?, ?)", teachers)

subjects = [
    ("Mathematics",),
    ("Science",),
    ("History",),
    ("English",)
]
cursor.executemany("INSERT INTO subjects (subject_name) VALUES (?)", subjects)

teaches = [
    (1, 1),  # Kamal teaches Mathematics
    (1, 2),  # Kamal teaches Science
    (2, 3),  # Saman teaches History
    (3, 4),  # Pawan teaches English
]
cursor.executemany("INSERT INTO teaches (teacher_id, subject_id) VALUES (?, ?)", teaches)

connection.commit()

In [34]:
cursor.execute("SELECT * FROM teachers")
teachers = cursor.fetchall()
print(teachers)

[(1, 'Kamal', 42), (2, 'Saman', 29), (3, 'Pawan', 34), (4, 'Kamal', 42), (5, 'Saman', 29), (6, 'Pawan', 34), (7, 'Kamal', 42), (8, 'Saman', 29), (9, 'Pawan', 34)]

In [35]:
cursor.execute("""SELECT t.name
FROM teachers t
JOIN teaches te ON t.teacher_id = te.teacher_id
JOIN subjects s ON te.subject_id = s.subject_id
WHERE s.subject_name = 'Mathematics';""")
teachers = cursor.fetchall()
print(teachers)

[('Kamal',), ('Kamal',), ('Kamal',)]

### Initialize LangChain SQL Database

In [36]:
from langchain_google_genai import ChatGoogleGenerativeAI
import os

os.environ["GOOGLE_API_KEY"] = "AIzaSyBcUsfH8V9z9ES0SVlYRAZAY_Lp2AdO800"

In [37]:
from langchain_community.utilities.sql_database import SQLDatabase

In [38]:
db = SQLDatabase.from_uri(f"sqlite:///school.db")

In [39]:
print(db)

<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000022F7FECC150>

In [40]:
print(db.table_info)

CREATE TABLE subjects (
	subject_id INTEGER,
	subject_name TEXT NOT NULL,
	PRIMARY KEY (subject_id)
)

/*
3 rows from subjects table:
subject_id	subject_name
1	Mathematics
2	Science
3	History
*/


CREATE TABLE teachers (
	teacher_id INTEGER,
	name TEXT NOT NULL,
	age INTEGER NOT NULL,
	PRIMARY KEY (teacher_id)
)

/*
3 rows from teachers table:
teacher_id	name	age
1	Kamal	42
2	Saman	29
3	Pawan	34
*/


CREATE TABLE teaches (
	id INTEGER,
	teacher_id INTEGER,
	subject_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(teacher_id) REFERENCES teachers (teacher_id),
	FOREIGN KEY(subject_id) REFERENCES subjects (subject_id)
)

/*
3 rows from teaches table:
id	teacher_id	subject_id
1	1	1
2	1	2
3	2	3
*/

### Initialize LLM

In [41]:
from langchain_google_genai import GoogleGenerativeAI
llm=GoogleGenerativeAI(model="gemini-2.5-flash", temperature=0.1)

### Create SQL Generation Chain

In [42]:
from langchain.chains import create_sql_query_chain

query_generate = create_sql_query_chain(llm, db)

### Setup SQL Execution Tool

In [43]:
from langchain_community.tools import QuerySQLDatabaseTool
query_execute = QuerySQLDatabaseTool(db=db)

In [ ]:
query = query_generate.invoke({"question": "Details of all teachers"})
print(query)

Retrying langchain_google_genai.chat_models._chat_with_retry.<locals>._chat_with_retry in 2.0 seconds as it raised RetryError: Timeout of 600.0s exceeded, last exception: 503 failed to connect to all addresses; last error: UNKNOWN: ipv6:%5B2404:6800:4009:822::200a%5D:443: tcp handshaker shutdown.

In [28]:
query_execute.invoke(query)

'Error: (sqlite3.OperationalError) near "SQLQuery": syntax error\n[SQL: SQLQuery: SELECT "teacher_id", "name", "age" FROM teachers LIMIT 5]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

In [19]:
query = query_generate.invoke({"question": "Which teachers are assigned to teach Mathematics?"})
print(query)

SELECT t.name
FROM teachers t
JOIN teaches te ON t.teacher_id = te.teacher_id
JOIN subjects s ON te.subject_id = s.subject_id
WHERE s.subject_name = "Mathematics"
LIMIT 5;

In [20]:
query_execute.invoke(query)

"[('Kamal',)]"

### Create Answer Generator Chain

In [21]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given a user question, the generated SQL query, and its result, write a clear and natural answer to the question.

    User Question: {question}
    SQL Query: {query}
    SQL Result: {result}

    Final Answer:"""
)

final_answer = answer_prompt | llm | StrOutputParser()

In [22]:
chain = (
    RunnablePassthrough.assign(query=query_generate).assign(
        result=itemgetter("query") | query_execute
    )
    | final_answer
)

In [23]:
chain.invoke({"question": "Details of all teachers"})

'Here are the details of all teachers: \n1. Teacher ID: 1, Name: Kamal, Age: 42\n2. Teacher ID: 2, Name: Saman, Age: 29\n3. Teacher ID: 3, Name: Pawan, Age: 34'

In [24]:
chain.invoke({"question": "Which teachers are assigned to teach Mathematics?"})

'Kamal is the teacher assigned to teach Mathematics.'