### Install Required Packages

In [1]:
# !pip install langchain_openai -q
# !pip install langchain_community -q
# !pip install langchain -q

### Create SQLite Database and Tables

In [8]:
import sqlite3

In [9]:
connection = sqlite3.connect("school1.db")

In [10]:
cursor = connection.cursor()

In [11]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS teachers (
    teacher_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS subjects (
    subject_id INTEGER PRIMARY KEY AUTOINCREMENT,
    subject_name TEXT NOT NULL
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS teaches (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    teacher_id INTEGER,
    subject_id INTEGER,
    FOREIGN KEY (teacher_id) REFERENCES teachers(teacher_id),
    FOREIGN KEY (subject_id) REFERENCES subjects(subject_id)
)
""")

connection.commit()

### Insert Sample Data into Tables

In [12]:
teachers = [
    ("Kamal", 42),
    ("Saman", 29),
    ("Pawan", 34)
]
cursor.executemany("INSERT INTO teachers (name, age) VALUES (?, ?)", teachers)

subjects = [
    ("Mathematics",),
    ("Science",),
    ("History",),
    ("English",)
]
cursor.executemany("INSERT INTO subjects (subject_name) VALUES (?)", subjects)

teaches = [
    (1, 1),  # Kamal teaches Mathematics
    (1, 2),  # Kamal teaches Science
    (2, 3),  # Saman teaches History
    (3, 4),  # Pawan teaches English
]
cursor.executemany("INSERT INTO teaches (teacher_id, subject_id) VALUES (?, ?)", teaches)

connection.commit()

In [34]:
cursor.execute("SELECT * FROM teachers")
teachers = cursor.fetchall()
print(teachers)

[(1, 'Kamal', 42), (2, 'Saman', 29), (3, 'Pawan', 34)]

In [14]:
cursor.execute("""SELECT t.name
FROM teachers t
JOIN teaches te ON t.teacher_id = te.teacher_id
JOIN subjects s ON te.subject_id = s.subject_id
WHERE s.subject_name = 'Mathematics';""")
teachers = cursor.fetchall()
print(teachers)

[('Kamal',)]

### Initialize LangChain SQL Database

In [15]:
from langchain_google_genai import ChatGoogleGenerativeAI
import os

os.environ["GOOGLE_API_KEY"] = "AIzaSyBcUsfH8V9z9ES0SVlYRAZAY_Lp2AdO800"

In [16]:
from langchain_community.utilities.sql_database import SQLDatabase

In [17]:
db = SQLDatabase.from_uri(f"sqlite:///school.db")

In [18]:
print(db)

<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000021A05785A10>

In [19]:
print(db.table_info)

CREATE TABLE subjects (
	subject_id INTEGER,
	subject_name TEXT NOT NULL,
	PRIMARY KEY (subject_id)
)

/*
3 rows from subjects table:
subject_id	subject_name
1	Mathematics
2	Science
3	History
*/


CREATE TABLE teachers (
	teacher_id INTEGER,
	name TEXT NOT NULL,
	age INTEGER NOT NULL,
	PRIMARY KEY (teacher_id)
)

/*
3 rows from teachers table:
teacher_id	name	age
1	Kamal	42
2	Saman	29
3	Pawan	34
*/


CREATE TABLE teaches (
	id INTEGER,
	teacher_id INTEGER,
	subject_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(teacher_id) REFERENCES teachers (teacher_id),
	FOREIGN KEY(subject_id) REFERENCES subjects (subject_id)
)

/*
3 rows from teaches table:
id	teacher_id	subject_id
1	1	1
2	1	2
3	2	3
*/

### Initialize LLM

In [53]:
from langchain_google_genai import GoogleGenerativeAI
llm=GoogleGenerativeAI(model="gemini-2.5-flash", temperature=0.1)

### Create SQL Generation Chain

In [54]:
from langchain.chains import create_sql_query_chain

query_generate = create_sql_query_chain(llm, db)

### Setup SQL Execution Tool

In [55]:
from langchain_community.tools import QuerySQLDatabaseTool
query_execute = QuerySQLDatabaseTool(db=db)

In [56]:
from sqlalchemy import create_engine, text

In [57]:
query = query_generate.invoke({"question": "Details of all teachers"})

sql = query.strip()

# Remove any 'SQLQuery:' prefix
if sql.lower().startswith("sqlquery:"):
    sql = sql[len("SQLQuery:"):].strip()

In [58]:
query_execute.invoke(sql)

"[(1, 'Kamal', 42), (2, 'Saman', 29), (3, 'Pawan', 34), (4, 'Kamal', 42), (5, 'Saman', 29)]"

In [59]:
query = query_generate.invoke({"question": "Which teachers are assigned to teach Mathematics?"})
print(query)

SQLQuery: SELECT T1.name FROM teachers AS T1 INNER JOIN teaches AS T2 ON T1.teacher_id = T2.teacher_id INNER JOIN subjects AS T3 ON T2.subject_id = T3.subject_id WHERE T3.subject_name = 'Mathematics' LIMIT 5;

In [ ]:
query = query.strip()

if query.lower().startswith("sqlquery:"):
    query = query[len("SQLQuery:"):].strip()

In [61]:
query_execute.invoke(query)

"[('Kamal',), ('Kamal',), ('Kamal',), ('Kamal',)]"

### Create Answer Generator Chain

In [66]:
def edit_query(raw_dict):
    # Access and modify the SQL query
    query = raw_dict["query"]

    query = query.strip()

    if query.lower().startswith("sqlquery:"):
        query = query[len("SQLQuery:"):].strip()

    return {**raw_dict, "query": query}

In [67]:
from langchain_core.runnables import RunnableLambda

edit_query_step = RunnableLambda(edit_query)

In [62]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given a user question, the generated SQL query, and its result, write a clear and natural answer to the question.

    User Question: {question}
    SQL Query: {query}
    SQL Result: {result}

    Final Answer:"""
)

final_answer = answer_prompt | llm | StrOutputParser()

In [68]:
chain = (
    RunnablePassthrough
    .assign(query=query_generate)
    | edit_query_step
    .assign(result=itemgetter("query") | query_execute) 
    | final_answer
)

In [69]:
chain.invoke({"question": "Details of all teachers"})

'Here are the details for the first 5 teachers, including their ID, name, and age:\n\n*   **Teacher ID:** 1, **Name:** Kamal, **Age:** 42\n*   **Teacher ID:** 2, **Name:** Saman, **Age:** 29\n*   **Teacher ID:** 3, **Name:** Pawan, **Age:** 34\n*   **Teacher ID:** 4, **Name:** Kamal, **Age:** 42\n*   **Teacher ID:** 5, **Name:** Saman, **Age:** 29'

In [71]:
chain.invoke({"question": "Which teachers are assigned to teach Mathematics?"})

'Kamal is assigned to teach Mathematics.'